.autocomplete {
  display: flex;
  user-select: none;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: 0.2s linear;
  cursor: pointer;
}
.autocomplete:hover {
  background-color: rgb(204, 200, 200);
}
.autocomplete:active {
  background-color: rgb(190, 188, 188);
}
.autocomplete-avatar {
  padding:5%;
}
.autocomplete-name {
  /* padding:5%; */
  /* border:1px solid black; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
