body{
    margin:0;
    padding:0;
    width: calc(100vw - 1px);
    overflow-x: hidden;
}
.feed-div{
    width: 100%;
}
.post-feed-div{
    min-height: 100vh;
    background-color: whitesmoke;
    position:relative;
}