body {
  margin: 0;
  padding: 0;
  width: calc(100vw - 1px);
  overflow-x: hidden;
  background-color: black;
}
.feed-div {
  width: 100%;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.11);
  border-radius: 100px;
}
body::-webkit-scrollbar {
  width: 5px;
  background-color: whitesmoke;
}

body::-webkit-scrollbar-thumb {
  background-color: #080808;
  border-radius: 100px;
}
.post-feed-div {
  min-height: 100vh;
  background-color: whitesmoke;
  position: relative;
  padding:10px;
}
.create-post-btn-div{
  outline:none;
  border:none;
  display: flex;
  flex-flow: wrap;
  gap:5%;
  align-items: center;
  justify-content: center;
  background-color: #886bac;
  color:whitesmoke;
  padding:10px;
  width:200px;
  height:60px;
  border-radius:50px;
  position:fixed;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  bottom:20px;
  left:20px;
  overflow:hidden;
  transition: linear 0.1s;
  cursor: pointer;
  user-select: none;
}
.create-post-btn-div:active{
  background:#71598f;
  width:198px;
  height:58px;
}
.post-skeleton{
  margin-top:5%;
  width: 40%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding:10px;
  display: grid;
  gap:10px;
}
.post-skeleton-header{
  display: flex;
  flex-flow: wrap;
  gap:1%;
}