.post-info-div {
  width: 100vw;
  height: 93vh;
  display: flex;
  position:relative;
}
.post-info-images-div {
  height: 100%;
  width: 100%;
  background-color: black;
  position: relative;
}
.img-rotate-btn {
  border: none;
  outline: none;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  background-color: whitesmoke;
  transition: 0.1s linear;
  display: none;
}
.img-rotate-btn:hover {
  background-color: rgb(233, 232, 232);
}
.img-rotate-btn:active {
  background-color: rgb(189, 186, 186);
}
.right {
  top: 50%;
  right: 10px;
}
.left {
  top: 50%;
  left: 10px;
}
.post-info-details-div {
  width: 50%;
  height: 100%;
  background-color: whitesmoke;
  overflow:hidden;
}
.post-info-details-head {
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.post-info-profile-img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.post-info-title {
  width: 80%;
  font-size: 20px;
  text-align: center;
}
.info {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 28vh;
}
.info::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.11);
  border-radius: 100px;
}
.info::-webkit-scrollbar {
  width: 5px;
  background-color: whitesmoke;
}

.info::-webkit-scrollbar-thumb {
  background-color: #080808;
  border-radius: 100px;
}