/* @import url('http://fonts.cdnfonts.com/css/brittany-signature'); */
.user-info-div {
  height: 30vh;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.user-info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding:1%;
  gap: 5px;
  border-radius: 10px;
  background-color: black;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.user-info-avatar-holder {
  margin-right: auto;
  border-radius: 100%;
  box-shadow: 0px 0px 50px 1px #0fa;
  animation: pulsateImg 1.5s infinite alternate;
}
.user-info-details-div {
  width: 100%;
  margin-right: auto;
  height: 100%;
  display: grid;
  place-items: center;
  gap: 3%;
}

.user-details {
  width: 100%;
  height: 100%;
  display: flex;
}
.username {
  width: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 25px;
  width: 90%;
  border: none;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  text-shadow:
  /* 0 0 3px #fff,
  0 0 5px #fff, */ 0 0 10px #fff, 0 0 20px #0fa,
    0 0 60px #0fa, 0 0 70px #0fa, 0 0 80px #0fa, 0 0 100px #0fa;
  animation: pulsateName 1.5s infinite alternate;
}
.dob {
  padding: 5px;
  width: 90%;
  border-radius: 10px;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-10deg);
  font-family: "Brittany Signature", sans-serif;
  text-decoration: underline;
  letter-spacing: 1px;
  font-size: 30px;
  user-select: none;
  text-decoration-thickness: 2px;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.bio {
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
}
@keyframes pulsateName {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }

  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #0fa,
      0 0 45px #0fa, 0 0 55px #0fa, 0 0 70px #0fa, 0 0 80px #0fa;
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #0fa,
      0 0 45px #0fa, 0 0 55px #0fa, 0 0 70px #0fa, 0 0 80px #0fa;
  }
}
@keyframes pulsateImg {
  100% {
    box-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 30px #0fa, 0 0 30px #0fa, 0 0 30px #0fa, 0 0 30px #0fa;
  }

  0% {
    box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #0fa,
      0 0 45px #0fa, 0 0 55px #0fa, 0 0 70px #0fa, 0 0 80px #0fa;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #0fa,
      0 0 45px #0fa, 0 0 20px #0fa, 0 0 40px #0fa, 0 0 40px #0fa;
  }
}
